name: Publish to NuGet (from csproj Version)

on:
  push:
    branches: [ main ]
    tags:     [ "v*" ]
  workflow_dispatch: {}

jobs:
  pack-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            9.0.x
            8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack (use Version from csproj)
        run: |
          dotnet pack src/Shardo.PcPos.Sadad/Shardo.PcPos.Sadad.csproj \
            --configuration Release \
            -p:ContinuousIntegrationBuild=true \
            -o out

      - name: Publish to nuget.org (nupkg & snupkg)
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet nuget push "out/*.nupkg"  --api-key "$NUGET_API_KEY" --source https://api.nuget.org/v3/index.json --skip-duplicate
          dotnet nuget push "out/*.snupkg" --api-key "$NUGET_API_KEY" --source https://api.nuget.org/v3/index.json --skip-duplicate
